
/* Footer */
footer {
    background-color: var(--green-main);
    color: white;
    font-family: Microsoft JhengHei;
    font-size: 0.85rem;
    cursor: default;
    padding-bottom: 10px;
}

/* Footer Collapse */
#Collapse_Button {
    font-size: 0px;
    background: #DBDBDB;
    width: 40px;
    height: 20px;
    border-radius: 0 0 100px 100px;
    margin: auto;
}

    #Collapse_Button > i {
        cursor: pointer;
        transform: rotate(180deg);
        font-size: 1.125rem;
        transition: all 1s;
    }

        #Collapse_Button > i:hover {
            animation-iteration-count: infinite;
            animation-delay: 0.5s;
            animation-name: Bounce_up;
            animation-duration: 1s;
        }

.footer_pack_up #Collapse_Button > i {
    transform: rotate(360deg);
    transition: all 1s;
}

    .footer_pack_up #Collapse_Button > i:hover {
        animation-iteration-count: infinite;
        animation-delay: 0.5s;
        animation-name: Bounce_down;
        animation-duration: 1s;
    }

.footer_pack_up #Footer_Menu {
    height: 0px;
    transition: all 1s;
}

#Footer_Menu {
    height: 210px;
    transition: all 1s;
    justify-content: center;
    overflow: hidden;
}

.paging_frame {
    margin: 2rem 1rem 1rem;
    width:auto;
}

    .paging_frame > div {
        justify-content: space-between;
    }

    .paging_frame > p {
        padding: 0 5px;
    }

.abreast > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

    .abreast > ul > li {
        padding: 2px 5px;
        width: 150px;
    }
/* Footer Bottom */
#Footer_Bottom {
    margin-top: 90px;
}

#Logo_Line {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -45px;
    width: 90%;
    height: 0.5px;
    background: white;
}

#Logo_Bottom > div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -45px;
    width: 90%;
    height: 1px;
    background: white;
}

#Logo_Bottom > span {
    width: 180px;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--green-main);
    z-index: 1;
    margin-top: -45px;
}

#Other_Web_Button > a {
    cursor: pointer;
    font-size: 1rem;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border: 1px white solid;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    color: #fff;
    display: inline-block;
}

/* Copyright */
#Copyright {
    font-size: 0.75rem;
    background-color: var(--black-bottom-line);
    justify-content: center;
    padding: 10px 0;
}

    #Copyright > p {
        margin-right: 5px;
        margin-left: 5px;
    }

/* Floating Objects */
#Floating_Objects {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1000;
}

    #Floating_Objects > i {
        font-size: 2.25rem;
        width: 50px;
        height: 50px;
        padding-top: 7.5px;
        background: #FF8C49;
        border-radius: 50%;
        margin-bottom: 20px;
    }

/* Animations */
@keyframes Bounce_up {
    0%, 40%, 80% {
        margin-top: 0px;
    }

    20%, 60% {
        margin-top: -5px;
    }
}

@keyframes Bounce_down {
    0%, 40%, 80% {
        margin-top: 0px;
    }

    20%, 60% {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 992px) {

    #Footer_Menu {
        height: 400px;
    }

    .paging_frame {
        margin: 0px;
        padding: 2rem;
    }

    .abreast .paging_frame:nth-child(1) {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #Logo_Bottom::before, #Logo_Bottom::after {
        width: 25%;
    }
}

@media only screen and (max-width: 576px) {

    #Footer_Menu {
        height: 700px;
    }
    #Logo_Bottom::before, #Logo_Bottom::after {
        width: 12.5%;
    }
}

footer {
    padding: 0px;
    background: #647f6c;
}
.footer-img {
    width:150px;
    height:auto;
}
.footer-bg {
    background:#000;
    width: 100%;
    padding: 2rem 0 0 0;
}
#Footer_Menu {
    background: #647f6c;
}
#Collapse_Button {
    color: #647f6c;
}
.footer_pack_up {
    /* width:70%;*/
}
#FootContainer a {
    text-decoration: none;
    color: #fff;
}

@media (min-width: 1500px) {
    #Footer_Menu {
        font-size:0.95rem;
    }
    .paging_frame{ width:auto;}
    .abreast > ul {
        height:165px;
    }
    .abreast > ul > li {
        width: 180px;
    }
}
@media (min-width: 992px)  {
    .navbar-expand-lg .offcanvas{
        width:100%!important;
    }
}

    @media only screen and (max-width: 992px) {
        .navbar-expand-lg .offcanvas {
            width: auto;
        }

        #Footer_Menu {
            height: 400px;
        }

        .paging_frame {
            margin: 0px;
            padding: 2rem;
        }
        .abreast .paging_frame:not(:last-child) {
            width: 50%;
        }

        .abreast .paging_frame:nth-child(:last-child) {
            width: 100%;
        }
    }

    @media only screen and (max-width: 768px) {
        #Logo_Bottom::before, #Logo_Bottom::after {
            width: 25%;
        }

        .footer_pack_up {
            width: 100%;
        }
    }

    @media only screen and (max-width: 576px) {

        #Footer_Menu {
            height: auto;
        }

        #Logo_Bottom::before, #Logo_Bottom::after {
            width: 12.5%;
        }
        footer {
            padding-bottom: 1rem;
        }
        footer p {
            margin-bottom: 0.25rem;
        }
        .paging_frame{
            padding:1rem;
        }
        .abreast > ul > li {
            width: calc(50vw - 1rem);
        }
    }