footer {
    padding: 0px;
    background: #647f6c;
}
.footer-img {
    width:150px;
    height:auto;
}
.footer-bg {
    background:#000;
    width: 100%;
    padding: 2rem 0 0 0;
}
#Footer_Menu {
    background: #647f6c;
}
#Collapse_Button {
    color: #647f6c;
}
.footer_pack_up {
    /* width:70%;*/
}
a{
    text-decoration:none;
    color:#fff;
}
@media (min-width: 1500px) {
    #Footer_Menu {
        font-size:1rem;
    }
    .paging_frame{ width:auto;}
    .abreast > ul > li {
        width: 160px;
    }
}
@media (min-width: 992px)  {
    .navbar-expand-lg .offcanvas{
        width:100%!important;
    }
}

    @media only screen and (max-width: 992px) {
        .navbar-expand-lg .offcanvas {
            width: auto;
        }

        #Footer_Menu {
            height: 400px;
        }

        .paging_frame {
            margin: 0px;
            padding: 2rem;
        }
        .abreast .paging_frame:nth-child(1) {
            width: 50%;
        }

        .abreast .paging_frame:nth-child(3) {
            width: 100%;
            margin-top:-100px;
        }
    }

    @media only screen and (max-width: 768px) {
        #Logo_Bottom::before, #Logo_Bottom::after {
            width: 25%;
        }

        .footer_pack_up {
            width: 100%;
        }
    }

    @media only screen and (max-width: 576px) {

        #Footer_Menu {
            height: auto;
        }

        #Logo_Bottom::before, #Logo_Bottom::after {
            width: 12.5%;
        }
    }

    @media only screen and (max-width: 368px) {
    }