#FootContainer {
    max-width:90%;
}
#Footer_Menu .abreast > ul {
    height:220px;
}
.abreast > ul > li {
    margin: 0rem 1rem 0.5rem 0;
    display: flex;
    line-height: 1.2rem;
}
    .abreast > ul > li:before {
        content:"。";
    }
.paging_frame {
    margin: 2rem 0rem 1rem;
}
@media (min-width: 1500px) {
    .abreast > ul > li {
        width: 220px;
    }
}

@media (max-width: 768px) {
    #FootContainer {
        max-width: 96%;
    }
}
@media (min-width: 576px) {
    #Footer_Menu > * {
        width: auto;
    }
}