.img_frame {
    transition: all 0.25s;
}

.catalog_item:hover > .img_frame {
    transform: scale(1.25);
    z-index: 1;
    box-shadow: 0px 5px 8px var(--black-text-trans);
    transition: all 0.25s;
}

.catalog_item > .img_frame > .btn_more {
    /*display: none;*/
    display: flex;
    transform: scale(0);
    transition: all 0.25s;
}

.catalog_item > .img_frame:hover > .btn_more {
    display: flex;
    transform: scale(1);
    transition: all 0.25s;
}

.catalog_item > .img_frame > .btn_more > a > .text {
    width: 5rem;
    height: 5rem;
    background-color: var(--gray-bg-light-trans);
}
