
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


input[type="number"] {
    -moz-appearance: textfield;
}

.container-fluid > .btn_swiper_next_product, .btn_swiper_prev_product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    position: absolute;
    right: 0;
    opacity: 0.5;
}

i.fa-chevron-right {
    line-height: 1;
}

.describe > ul {
    padding-left: 0rem;
}

.specification > ul {
    padding-left: 0rem;
}

/* Product Display Modal */
#ProDisplayModal.show {
    display: flex !important;
}

#ProDisplayModal > .modal-dialog {
    min-width: 90vmin;
    min-height: 90vmin;
}

    #ProDisplayModal > .modal-dialog.ytshow {
        width: 1320px;
        max-width: 95vw;
    }

    #ProDisplayModal > .modal-dialog > .modal-content {
        min-height: 50vmin;
    }

        #ProDisplayModal > .modal-dialog > .modal-content > button {
            z-index: 1;
            background-color: white;
            opacity: 0.75;
        }

#Pro_Image {
    cursor: zoom-in !important;
}

    #Pro_Image .cloudimage-360-inner-box .cloudimage-360-icons-container {
        left: 50%;
        transform: translateX(-50%);
    }

#Pro_Youtube {
    height: 75vh;
}

/* ProductSwiper */
.ProductSwiper > .swiper-wrapper > .swiper-slide {
    height: 600px;
}

    .ProductSwiper > .swiper-wrapper > .swiper-slide > .pro_display {
        cursor: pointer;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }


    .ProductSwiper > .swiper-wrapper > .swiper-slide > .schematic_360view {
        pointer-events: none;
        Opacity: 0.8;
        transform: scale(0.2);
    }

    .ProductSwiper > .swiper-wrapper > .swiper-slide > .schematic_image {
        display: none;
        Opacity: 0.6;
        pointer-events: none;
        transform: scale(0.1);
    }

    .ProductSwiper > .swiper-wrapper > .swiper-slide > .pro_display.img-fluid:hover + .schematic_image {
        display: block;
    }

    .ProductSwiper > .swiper-wrapper > .swiper-slide > .schematic_youtube {
        font-size: 4.5rem;
        color: #FF0000;
        Opacity: 0.8;
        pointer-events: none
    }

/* PreviewSwiper */
.PreviewSwiper > .swiper-wrapper > .swiper-slide {
    cursor: pointer;
}

.PreviewSwiper > .swiper-scrollbar {
    height: calc(5px * 2 / 3);
}

[class*=btn_swiper_] {
    z-index: 10;
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    background-color: var(--black-text-trans);
}

/* Product - Content */
#Product > .content > .describe {
    color: var(--gray-text);
    font-size: 1rem;
}

    #Product > .content > .describe > .introduce, #ProductDescription {
        list-style: none;
    }
/*
        #Product > .content > .describe > .introduce > li::before {
            content: '\ff0e';
        }
    */

#Product > .image {
    position: relative;
}

    #Product > .image > .status {
        position: absolute;
        top: 3px;
        left: 3px;
        background: rgba(196, 196, 196, .8);
        font-size: .8rem;
        padding: .2rem 1.2rem;
        color: #fff;
        font-weight: 600;
        border-radius: 1.5rem;
        z-index: 2;
    }

    #Product > .image > .pro_tag {
        width: calc(100% - 30px);
        height: 2rem;
        margin: 0;
        overflow: hidden;
        list-style: none;
    }

        #Product > .image > .pro_tag .round_tag {
            padding: 0.25rem 0.8rem;
            margin-right: 0.5rem;
            float: left;
            font-size: 0.8rem;
            line-height: 1.5rem;
            white-space: nowrap;
            background-color: var(--gray-light);
            color: var(--gray-text);
        }

#Product > .content > .specification {
    color: var(--gray-text);
    font-size: 1rem;
}

    #Product > .content > .specification > .collapsing {
        height: 6rem;
    }

    #Product > .content > .specification > .collapse:not(.show) {
        display: block;
        height: 6rem;
        overflow: hidden;
    }

    #Product > .content > .specification > div > ul {
        list-style: none;
    }

        #Product > .content > .specification > div > ul > li {
            line-height: 1.5rem;
        }

    #Product > .content > .specification > .btn_detailed {
        background-color: var(--gray-light);
    }

        #Product > .content > .specification > .btn_detailed::after {
            font-family: 'Font Awesome 6 Free';
            font-weight: 900;
            content: " \f107";
        }

    #Product > .content > .specification > .collapse.show ~ .btn_detailed::after {
        content: " \f106";
    }

#Product > .content > .pro_tc {
    color: var(--gray-text);
}

    #Product > .content > .pro_tc > .image {
        list-style: none;
    }

        #Product > .content > .pro_tc > .image > li > button > img {
            height: 3.25rem;
        }

#Product > .content > .priceframe > div > .price {
    color: var(--gray-text);
}

#Product > .content > .priceframe .discount {
    white-space: nowrap;
}

    #Product > .content > .priceframe .discount.bonus_lack {
        text-decoration: line-through;
        position: relative;
    }

        #Product > .content > .priceframe .discount.bonus_lack::after {
            position: absolute;
            content: "紅利點數不足";
            padding-left: 1rem;
            font-size: 1rem;
            bottom: 0.15rem;
            right: -7rem;
        }

#Product > .content > .priceframe > .model {
    white-space: nowrap;
    font-size: 0.8rem;
    color: var(--gray-text);
}

/* Product - Options */
#Product > .content > .options > div > .title {
    white-space: nowrap;
    padding-right: 0.5rem;
    color: var(--gray-text);
}

.btn_radio {
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid var(--gray-text);
}

input:checked + .btn_radio {
    font-weight: bold;
    border-color: var(--red-main);
    border-width: medium;
    cursor: default;
}

input:disabled + .btn_radio {
    border: var(--gray-light);
    background-color: var(--gray-light);
    color: var(--gray-text);
    cursor: default;
}

[class*=btn_count_] {
    cursor: pointer;
    color: var(--gray-text);
    border: 1px solid var(--gray-text);
    width: 2rem;
    height: 2rem;
}

.input_pro_quantity {
    border: 1px solid var(--gray-text);
    width: 8rem;
    height: 2rem;
    border-radius: 0;
}

.counter_input > .quantity {
    display: flex;
}

.counter_input > .emptyProd {
    display: none;
}

.counter_input.isEmpty > .quantity {
    display: none;
}

.counter_input.isEmpty > .emptyProd {
    display: flex;
}

#Product > .content > .btn_addToCar {
    background-color: var(--red-main);
    line-height: 3;
}

    #Product > .content > .btn_addToCar::after {
        content: '加入購物車';
    }

    #Product > .content > .btn_addToCar.close, #Product > .content > .btn_addToCar.bonus_lack {
        background-color: gray;
        cursor: default;
        line-height: 3;
    }

        #Product > .content > .btn_addToCar.close::after {
            content: '已售完';
            opacity: 50%;
        }

    #Product > .content > .btn_addToCar.bonus_lack:not(.close)::after {
        content: '紅利點數不足';
        opacity: 50%;
    }

#Product > .content .btn_favorites {
    background-color: gray;
    line-height: 3;
}

    #Product > .content .btn_favorites.turn {
        background-color: var(--red-main);
    }

#Product > .content > .btn_learnMore {
    background-color: var(--red-main);
    line-height: 3;
}

#Product > .content > .btn_addToCar .icon_plus::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
    content: "\f0fe  ";
    padding-right: 0.25rem;
}

#Product > .content > .btn_addToCar.close .icon_plus::before {
    opacity: 50%;
}

.btn_favorites .icon_love::before {
    font-size: 3rem;
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
    content: "\f004  ";
}

.btn_favorites.turn .icon_love::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: "\f004  ";
}

/* CenterLine */
#CenterLine {
    background-color: var(--gray-light);
}

    #CenterLine > div > div {
        white-space: nowrap;
    }

#shareBlock {
    flex-grow: 1;
}

    #shareBlock > a {
        margin: 0 !important;
    }

/* nav */
.nav-link {
    color: var(--gray-text);
    padding: 0.5rem 2rem;
}

    .nav-link:focus, .nav-link:hover {
        color: var(--red-text);
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    font-weight: bold;
    color: var(--red-text);
    background-color: var(--red-main-light);
}

.nav-pills .nav-link {
    border-radius: 0;
}

/* TabContent */
#TabContent {
    color: var(--gray-text);
    margin-bottom: 4rem;
}

    #TabContent > div > img {
        width: 100%;
    }

    #TabContent > div > iframe {
        width: 100%;
        height: 80vmin;
    }

/* TechnicalDocuments */

#TechnicalDocuments > #FileDownload > .file > a > div::after {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: "\3000\f019";
}

#TechnicalDocuments [class*="badge_"] div:has(img) {
    height: 100px;
}

#TechnicalDocuments [class*="badge_"] img {
    object-fit: contain;
    width: 100%;
    height: 6rem;
}

#TechnicalDocuments > .techcert_list > .badge_1 {
}
/* FileDownload */
#FileDownload > .File_list {
    margin: 1rem 0;
}

    #FileDownload > .File_list > div {
        padding: 1rem;
    }

/* SwitchPage */
#SwitchPage {
    display: flex;
}

    #SwitchPage a {
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
    }

        #SwitchPage a.disabled {
            pointer-events: none;
            opacity: 50%;
        }

    #SwitchPage .btn_prev::before {
        content: "\f104";
    }

    #SwitchPage .btn_list::before {
        content: "\f03a";
    }

    #SwitchPage .btn_next::after {
        content: "\f105";
    }

@media only screen and (max-width: 1400px) {
    .ProductSwiper > .swiper-wrapper > .swiper-slide {
        height: 510px;
    }
}

@media only screen and (max-width: 1200px) {
    .ProductSwiper > .swiper-wrapper > .swiper-slide {
        height: 420px;
    }
}

@media only screen and (max-width: 992px) {
    .ProductSwiper > .swiper-wrapper > .swiper-slide {
        height: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .ProductSwiper > .swiper-wrapper > .swiper-slide {
        height: 300px;
    }

    #CenterLine {
        justify-content: center !important;
    }
}

@media only screen and (max-width: 576px) {
    [class*=btn_swiper_] {
        height: 35px !important;
        width: 35px !important;
    }

    #btn_car_dropdown .material-symbols-outlined {
        font-size: 24px;
        color: #000;
        line-height: 1;
    }

    #btn_car_dropdown > #Car_Badge {
        left: unset !important;
        top: -50% !important;
        right: -10% !important;
    }

    .describe > .track {
        top: -6rem !important;
    }

    .btn_favorites .icon_love::before {
        font-size: 2rem;
    }

    #Product {
        padding-right: 12px;
        padding-left: 12px;
    }

    .ProductSwiper > .swiper-wrapper > .swiper-slide {
        height: 80vw;
    }

    .btn_swiper_prev_product {
        left: -3% !important;
    }

    .btn_swiper_next_product {
        right: -3% !important;
    }

    .quantity > button > i {
        justify-self: center;
    }

    .counter_input > .quantity > button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:448px) {
    .describe > .track {
        top: -8rem !important;
        right: -1rem !important;
    }
}

@media (max-width:410px) {
    #btn_tab > .nav-item > button.nav-link {
        padding: .5rem 1rem;
    }

    .pro_tc {
        padding: 0 !important;
    }

        .pro_tc .image {
            padding: 0;
        }
}
