
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Button Share */
.btn_share > a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0) !important;
    transition: all 1s;
}

.btn_share.show > a {
    top: calc(-100% - 0.5rem);
    transform: translateY(0%) scale(1) !important;
    transition: all 1s;
}

    .btn_share.show > a:nth-child(2) {
        transform: translateX(-450%) !important;
    }

    .btn_share.show > a:nth-child(3) {
        transform: translateX(-350%) !important;
    }

    .btn_share.show > a:nth-child(4) {
        transform: translateX(-250%) !important;
    }

    .btn_share.show > a:nth-child(5) {
        transform: translateX(-150%) !important;
    }

    .btn_share.show > a:nth-child(6) {
        transform: translateX(-50%) !important;
    }

/* Swiper */
.swiper_four_grid {
    background-color: var(--gray-bg-light);
}

    .swiper_four_grid > .swiper {
        padding-top: 15px;
    }

        .swiper_four_grid > .swiper > .swiper-wrapper > figure {
            border-radius: 25px;
        }

            .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .top_line {
                top: 1rem;
                right: 1rem;
            }

                .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .top_line > button > i {
                    color: var(--gray-icon);
                }

            .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .card-body > p {
                overflow: hidden;
                height: 3rem;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                margin-bottom: 2.5rem;
            }

            .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .bottom_line {
                bottom: 1rem;
                width: 100%;
                padding: 0 1rem;
            }

                .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .bottom_line > .pro_tag {
                    height: 2rem;
                }

                    .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .bottom_line > .pro_tag > li {
                        font-size: 0.8rem;
                        line-height: 1.5rem;
                        background-color: var(--gray-bg-light);
                        color: var(--gray-text);
                        white-space: nowrap;
                    }

                .swiper_four_grid > .swiper > .swiper-wrapper > figure > figcaption > .bottom_line > .btn_cart > span > i:first-child {
                    color: var(--gray-icon);
                }

.swiper_button {
    z-index: 1;
    height: 3.75rem;
}

    .swiper_button > button > span > i:first-child {
        color: var(--black-text-trans);
    }

.swiper_four_grid > .swiper_button > [class*=btn_swiper_next_] {
    margin-right: -5rem;
    transform: scale(0);
    transition: all 1s;
}

.swiper_four_grid > .swiper_button > [class*=btn_swiper_prev_] {
    margin-left: -5rem;
    transform: scale(0);
    transition: all 1s;
}

.swiper_four_grid:hover > .swiper_button > [class*=btn_swiper_] {
    margin: 0;
    transform: scale(1);
    transition: all 0.5s;
}

/* Filter */
#Filter {
    background-color: var(--gray-blue);
}

    #Filter > div > .range > input {
        width: 6rem;
    }

.btn_confirm {
    white-space: nowrap;
    background-color: var(--black-text);
    cursor: pointer;
}

/* Tick Area */
.tick_area > .title {
    background-color: var(--gray-bg-light);
}

.tick_area > ul > li {
    cursor: pointer;
}

/* Ads */
#Ads {
    background-color: var(--gray-bg-dark);
}

    #Ads > div > .card-group > .card > .card-footer > li {
        font-size: 0.8rem;
    }

        #Ads > div > .card-group > .card > .card-footer > li::before {
            content: '#';
        }

/* Catalog */
#Catalog {
    font-family: sans-serif;
    background-image: url("/images/probook_bg.jpg");
    background-size: cover;
    background-position: center;
}

    #Catalog > .text > .fs-3, #Catalog > .text > .fs-2 {
        color: #9F7744;
    }

    #Catalog > .text span > i:first-child {
        color: #9F774480;
    }

/* Hot_Product_Title */
#Hot_Product_Title {
    margin-top: 0;
}

/* Badge */
#Badge {
    padding: 40px 10vw;
    display: flex;
    justify-content: space-between;
}

    #Badge > .card {
        border-color: transparent;
        width: 19vw;
    }

        #Badge > .card > img {
            width: 40%;
            margin: auto;
        }

    #Badge > .vr {
        height: 15vw;
        align-self: center;
    }

#RelatedProductsSwiper {
    background-color: var(--gray-bg-dark);
}


/*RWD*/
@media only screen and (max-width: 1072px) {
    .swiper_button > [class*=btn_swiper_next_] {
        margin-right: -30px;
    }

    .swiper_button > [class*=btn_swiper_prev_] {
        margin-left: -30px;
    }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
    .swiper_button > [class*=btn_swiper_next_] {
        margin-right: 0px;
    }

    .swiper_button > [class*=btn_swiper_prev_] {
        margin-left: 0px;
    }

    #Catalog > .frame > .content {
        color: #C3A88D;
        margin: 20px 0 10px 0;
    }

    #Catalog > .frame > .image {
        width: 50%;
        margin: 10px 0 20px 0;
    }

    #Badge {
        flex-wrap: wrap;
        justify-content: center;
    }

        #Badge > .card {
            width: 29vw;
        }

        #Badge > .vr {
            height: 35vw;
        }

            #Badge > .vr:nth-child(3), #Badge > .vr:nth-child(4) {
                display: none;
            }
}

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 390px) {
    #Badge {
        flex-wrap: wrap;
    }

        #Badge > .card {
            width: 69vw;
        }

        #Badge > .vr {
            display: none;
        }
}

@media only screen and (max-width: 368px) {
}
