
body {
    background-color: var(--gray-bg-light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Required Sign */
.required_front::before {
    color: var(--red-text);
    content: '*';
}

.required::before {
    color: var(--red-text);
    content: '*';
}

.required::after {
    color: var(--red-text);
    content: '\5fc5\586b';
    font-size: 0.5rem;
}

/* Generic Button Style */
.btn_gray_dark {
    background-color: var(--gray-text);
    padding: 0.5rem;
    width: 12.5rem;
}

/* Single Line Display */
.single_line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Recipient Modal */
#RecipientModal > .modal-dialog {
    width: 820px;
    max-width: 90vw
}

    #RecipientModal > .modal-dialog > .modal-content > .modal-header {
        background-color: var(--gray-bg-light);
    }

    #RecipientModal > .modal-dialog > .modal-content > .modal-footer > button {
        background-color: var(--red-main);
    }

/* History */
.history > a:first-child > div::before {
    font-weight: 400;
    font-family: 'Font Awesome 6 Free';
    content: "\f004  ";
}

.history > a > div {
    width: 10rem;
    color: var(--black-text);
}

    .history > a > div > span {
        color: var(--red-number);
    }

/* Member Login */
#memberLogin > div > button {
    border: 1px solid var(--gray-middle);
    color: var(--gray-text);
    white-space: nowrap;
}

/* Swiper Pagination */
#BuyStepSwiper > .swiper_pagination {
    top: 0;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, 0px);
}

    #BuyStepSwiper > .swiper_pagination > .swiper_pagination_buystep {
        width: 50vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

        #BuyStepSwiper > .swiper_pagination > .swiper_pagination_buystep > .swiper-pagination-bullet {
            opacity: 1;
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            line-height: 2rem;
            color: var(--black-text);
            background: white;
            margin: 0;
        }

        #BuyStepSwiper > .swiper_pagination > .swiper_pagination_buystep > .swiper-pagination-bullet-active {
            color: white;
            background: var(--red-main);
        }

        #BuyStepSwiper > .swiper_pagination > .swiper_pagination_buystep > .swiper-pagination-bullet:last-child {
            pointer-events: none;
        }

    #BuyStepSwiper > .swiper_pagination > .centerline {
        width: 50vw;
        top: calc(50% + 1rem);
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

        #BuyStepSwiper > .swiper_pagination > .centerline > hr {
            color: var(--black-text);
        }

    #BuyStepSwiper > .swiper_pagination > .step_name {
        width: calc(50vw + 2rem);
        top: calc(50% + 3.5rem);
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: default;
    }

        #BuyStepSwiper > .swiper_pagination > .step_name > div {
            width: 4rem;
            font-size: 0.8rem;
        }

/* Step Swiper */
#BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-header, #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body .title {
    background-color: var(--gray-bg-light);
}

#BuyStepSwiper > .swiper {
    border-radius: 15px;
}

/* Step1 */
#Step1 > .card-body > .list_title {
    padding-right: 3rem;
}

#Step1 > .card-body > .purchase_list > .purchase_item {
    padding-right: 3rem;
}

    #Step1 > .card-body > .purchase_list > .purchase_item > .image > a > .content {
        color: var(--black-text);
    }

        #Step1 > .card-body > .purchase_list > .purchase_item > .image > a > .content > .pro_detail {
            color: var(--gray-text);
        }

            #Step1 > .card-body > .purchase_list > .purchase_item > .image > a > .content > .pro_detail > .pro_instructions {
                max-height: 4.5rem;
            }

    #Step1 > .card-body > .purchase_list > .purchase_item > .content > a > div > .pro_detail {
        color: var(--gray-text);
    }

        #Step1 > .card-body > .purchase_list > .purchase_item > .content > a > div > .pro_detail > .pro_instructions {
            max-height: 4.5rem;
        }

    #Step1 > .card-body > .purchase_list > .purchase_item > .content > .counter_input > button {
        color: var(--black-text);
        border: 1px solid var(--gray-text);
        height: 2.25rem;
        width: 2.25rem;
    }

    #Step1 > .card-body > .purchase_list > .purchase_item > .content > .counter_input > input {
        color: var(--black-text);
        border: 1px solid var(--gray-text);
        height: 2.25rem;
        width: 5rem;
    }

    #Step1 > .card-body > .purchase_list > .purchase_item > .content > .pro_subtotal {
        color: var(--red-number);
    }

    #Step1 > .card-body > .purchase_list > .purchase_item > .btn_side_icon {
        width: 3rem;
    }

.priceline > div > div:last-child {
    width: 10rem;
}

#Purchase_Null {
    display: flex;
}

/* Step2 */
#Step2 > .card-body > .shipping > li > div > span {
    font-size: 0.8rem;
    color: var(--gray-text);
    white-space: nowrap;
}

/* Step3 */
#Step3 > .card-header > a {
    font-size: 0.8rem;
    color: var(--gray-text);
    border: 1px solid var(--gray-middle);
}

#Step3 > .card-body > div > .totalprice {
    color: var(--red-number);
}

#Step3 > .card-body > .record > button {
    font-size: 0.8rem;
    color: var(--gray-text);
    border: 1px solid var(--gray-middle);
}

#TextareaRemark {
    height: 150px
}
/* Step3 - Payment Method */
#PaymentMethod {
    white-space: nowrap;
}

    #PaymentMethod > button {
        font-size: 0.8rem;
        color: var(--red-main);
    }

        #PaymentMethod > button::after {
            font-weight: 900;
            font-family: 'Font Awesome 6 Free';
            content: "\f054";
        }

/* Step4 */
/* 修改塞入資料的格式後要移除 */
/*#Step4 > .card-body .price::before {
    content: '';
}*/

#Step4 > .card-header > .order_number {
    color: var(--red-number);
}

    #Step4 > .card-header > .order_number::before {
        content: '\8a02\55ae\7de8\865f';
        color: var(--black-text);
        padding-right: 1rem;
    }

#Step4 > .card-body > .pruchase_content > .purchase_list > .purchase_item > .image > a {
    color: var(--black-text);
}

    #Step4 > .card-body > .pruchase_content > .purchase_list > .purchase_item > .image > a > .content > .pro_detail {
        color: var(--gray-text);
    }

#Step4 > .card-body > .pruchase_content > .purchase_list > .purchase_item > .content > a > div > .pro_detail {
    color: var(--gray-text);
}

#Step4 > .card-body > .pruchase_content > .purchase_list > .purchase_item > .content > .pro_unit {
    color: var(--gray-text);
}

    #Step4 > .card-body > .pruchase_content > .purchase_list > .purchase_item > .content > .pro_unit::before {
        content: "\55ae\50f9：";
    }

#Step4 > .card-body > .pruchase_content > .purchase_list > .purchase_item > .content > .pro_quantity {
    color: var(--gray-text);
}

    #Step4 > .card-body > .pruchase_content > .purchase_list > .purchase_item > .content > .pro_quantity::before {
        content: '\00d7';
    }

#Step4 > .card-body > .pruchase_content > .purchase_list > .purchase_item > .content > .pro_subtotal {
    color: var(--red-number);
}

#Step4 > .card-body > .pruchase_content > .endline > div > .price {
    color: var(--red-number);
}

#Step4 > .card-body > .pruchase_content > div > .btn_view_list {
    color: var(--gray-text);
    background-color: var(--gray-bg-light);
}

#PaymentData > .pay_info > div > div > div > .paid_amount {
    color: var(--red-number);
}

    #PaymentData > .pay_info > div > div > div > .paid_amount::before {
        content: 'NT$';
    }

#PaymentData > .pay_info > div > div > .paid_date > span {
    color: var(--red-number);
}

#PaymentData > .btn_back_home > a > div {
    width: fit-content;
    background-color: var(--yellow);
}

/* Popover */
body > .popover.bs-popover-auto.fade {
    background-color: var(--green-main-trans);
    border: none;
    border-radius: 5px;
}

    body > .popover.bs-popover-auto.fade > .popover-arrow {
        display: none;
    }

    body > .popover.bs-popover-auto.fade > .popover-body {
        color: white;
        padding: 0.25rem 0.5rem;
    }

/* Swiper Button */
#BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > .swiper_button {
    z-index: 1;
    bottom: 5rem;
    margin: auto;
}

    #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > .swiper_button > [class*=btn_swiper_] {
        background-color: var(--gray-text);
        padding: 0.5rem;
        width: 12.5rem;
    }

#Step3 > .card-body > .swiper_button > .btn_gray_underline {
    font-size: 1rem;
    color: var(--gray-text);
    width: fit-content;
}

#Step3 > .card-body > .swiper_button > div > button {
    background-color: var(--red-main);
}

#Step4 > .pruchase_content > .purchase_item > .content > .pro_quantity::before {
    content: '\00d7';
}

/*RWD*/
@media (max-width: 1366px) {
}

@media only screen and (max-width: 1072px) {
}

@media only screen and (max-width: 992px) {
    #Step1 > .card-body > .purchase_list > li > .btn_side_icon {
        top: 0;
        transform: translate(0, 0);
    }
}

@media only screen and (max-width: 768px) {
    div.e-mail, div.cell-phone {
        width:100%;
    }

    div.tel-phone {
        flex:auto;
    }

    div.tel-area {
        width:30%;
    }

    #OrdererForm > .default_data > div > div:nth-child(1) {
        width:auto;
    }
}

@media only screen and (max-width: 576px) {
    #BuyStepSwiper > .swiper_pagination > .swiper_pagination_buystep, #BuyStepSwiper > .swiper_pagination > .centerline {
        width: 90vw;
    }

    #BuyStepSwiper > .swiper_pagination > .step_name {
        width: calc(90vw + 2rem);
    }

    #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > .swiper_button > [class*=btn_swiper_] {
        width: 8rem;
    }

    #BuyStepSwiper > .swiper > .swiper-wrapper > .step1 > .card-body > .purchase_list > li > div > div > .pro_detail {
        height: 5rem;
    }

    #Step3 > .card-body > .record > button {
        width: 5rem;
    }

    #Form_Orderer > div:nth-child(5) > div:nth-child(3) {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    #Step1 > .card-body > .purchase_list > .purchase_item {
        padding-right: 1rem;
    }

    #BuyStepSwiper > .swiper > .swiper-wrapper > .card > .card-body > .swiper_button > [class*=btn_swiper_] {
        width: 6rem;
    }

    .btn_gray_dark {
        width: 7.5rem;
    }

    ul.purchase_list {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    input#OrdererInputTelPhoneArea {
        padding-top:0rem;
    }

    .form-floating > label {
        font-size:14px;
    }
}
