
/* Default */
html, body {
    height: 100%;
    position: relative;
}

/* Universal */
a {text-decoration: none; color:inherit;}
    a:hover {
        color: inherit;
    }

p {
    margin: 0;
}

.price::before {
    content: '$';
}

.navbar .dropdown-menu[data-bs-popper] {
    top:92%;
    border-radius:0;
}
.navbar-collapse ul{
    list-style:none;
    padding:0;
    margin:0;
}

.verticalAlign {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
    .verticalAlign:before {
        content:"";
        height:100%;
    }