
/* Default */
html, body {
    height: 100%;
    position: relative;
}

/* Bootstrap label backgound-color replicate */
label::after {
    background-color: transparent !important;
}

/* Custom English translation */
.translate_ch {
    display: inline;
}

.translate_en {
    display: none;
}

html[lang="en"] .translate_ch {
    display: none;
}

html[lang="en"] .translate_en {
    display: inline;
}

/* Universal */
a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        color: inherit;
    }

p {
    margin: 0;
}

.custom_visibility_hidden {
    visibility: hidden;
}

.price::before {
    content: '$';
}

.unavailable .price::before {
    content: none;
}

.navbar .dropdown-menu[data-bs-popper] {
    top: 92%;
    border-radius: 0;
}

.navbar-collapse ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.verticalAlign {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

    .verticalAlign:before {
        content: "";
        height: 100%;
    }

.modal-open {
    overflow: hidden;
}

body > .skiptranslate {
    display: none;
}

.goog-logo-link {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
}

#google_translate_element .skiptranslate {
    padding-top: 18px;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

a[href="https://translate.google.com"] {
    display: none !important;
}

.gtmIframe {
    display: none;
    visibility: hidden
}

.modal.show {
    display: block;
}

#YTPreviewModal .modal-content {
    height: 90vh;
}

.highlight {
    background-color: #eaeaea;
    color: #215f9a;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
}

#TermsModal .modal-body .content {
    white-space: pre-wrap;
}

#RegisterForm > #RegisterNewPassFeedBack, #RegisterForm > #RegisterCheckPassFeedBack {
    font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
    #YTPreviewModal .modal-dialog {
        max-width: 95vw !important;
    }
}

@media only screen and (max-width: 576px) {
    .containe_phone_nopx {
        padding-right: 0px;
        padding-left: 0px;
    }
}
