
/* Default */
html, body {
    height: 100%;
    position: relative;
}

/* Universal */
a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.price::before {
    content: '$';
}

.navbar .dropdown-menu[data-bs-popper] {
    top:92%;
    border-radius:0;
}