/* Color */
:root {
    --blue-light: #CEEAEF;
    --blue-middle: #1E709E;
    --blue-dark: #212F39;
    --gray-dark: #303030;
}

/* Default */
html {
    font-size: 100%;
}

.bg_blue_middle {
    background-color: var(--blue-middle);
}

.bg_gray_dark {
    background-color: var(--gray-dark);
}


.text_blue_middle {
    color: var(--blue-middle);
}
