
/* Banner */
.template_full_swiper > figcaption {
    background-color: var(--black-text-trans);
    bottom: 20%;
}

    .template_full_swiper > figcaption > h3 {
        padding: 1.5rem 3.5rem;
        font-size: 2.5rem;
        text-shadow: 4px 4px 6px rgba(0,0,0,0.3);
    }

#BannerSwiper > .swiper_pagination_banner {
    z-index: 1;
}

    #BannerSwiper > .swiper_pagination_banner > .swiper-pagination-bullet {
        width: 4rem;
        height: 0.3rem;
        border-radius: 4px;
    }

        #BannerSwiper > .swiper_pagination_banner > .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: var(--red-main);
        }

#BannerSwiper > .swiper_button {
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Button Gonews*/
.btn_gonews > i {
    color: var(--blue-text);
    cursor: pointer;
}

/* Guess_Like */
#Guess_Like > .container > .row > .col > .frame {
    background-color: var(--gray-bg-light);
}

    #Guess_Like > .container > .row > .col > .frame > .pro_link > .pro_name {
        color: var(--black-text);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height: 3rem;
    }

    #Guess_Like > .container > .row > .col > .frame > .pro_link > .pro_name {
        color: var(--black-text);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height: 3rem;
    }

    #Guess_Like > .container > .row > .col > .frame > .pro_tag {
        height: 1.75rem;
        font-size: 0.8rem;
    }

        #Guess_Like > .container > .row > .col > .frame > .pro_tag > li {
            line-height: 1.5rem;
            white-space: nowrap;
        }

    #Guess_Like > .container > .row > .col > .frame > .bottom_line > .price {
        color: var(--red-number);
    }

    #Guess_Like > .container > .row > .col > .frame > .bottom_line > .btn_buy {
        border: 1px solid var(--black-text);
        color: var(--black-text);
        font-size: 0.8rem;
        white-space: nowrap;
    }

/* Favorite */
#Favorite > .title {
    height: 200px;
    background-image: url(../../images/favorite_bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.border_six_frame > .top_icon {
    top: 0;
    right: 0;
    height: 1.5rem;
}

    .border_six_frame > .top_icon > button > i {
        color: var(--gray-icon);
    }

.border_six_frame > a > figure {
    padding-top: 1.5rem;
}

    .border_six_frame > a > figure > figcaption {
        width: fit-content;
    }

        .border_six_frame > a > figure > figcaption > .pro_tag {
            font-size: 0.8rem;
            border-bottom: 3px solid var(--red-main);
            background-color: var(--gray-text);
            height: 2.5rem;
        }

    .border_six_frame > a > figure > .btn_add_favorite {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        .border_six_frame > a > figure > .btn_add_favorite > span > i:first-child {
            color: var(--gray-icon);
        }

.border_six_frame > .pro_name {
    color: var(--gray-text);
    font-size: 0.8rem;
    padding-top: 0.5rem;
    height: 3rem;
    line-height: 1.25rem;
}

#Favorite > ul > .blank {
    display: flex;
}

    #Favorite > ul > .blank:nth-child(n+8) {
        display: none;
    }

    #Favorite > ul > .blank > .frame > a > span {
        color: var(--gray-icon);
        transform: scale(1.25);
    }

    #Favorite > ul > .blank > .bottom_line {
        font-size: 0.8rem;
        padding-top: 0.5rem;
        height: 3rem;
        line-height: 1.25rem;
    }

/* Featured */
#Featured > .content > figure:first-child {
    width: 39%;
}

#Featured > .content > figure:nth-child(2) {
    width: 59%;
}

#Featured > .content > figure > div > a > img {
    transform: scale(1);
    filter: saturate(100%);
    transition: all 0.5s;
}

#Featured > .content > figure > div > a:hover > img {
    transform: scale(1.25);
    filter: saturate(200%);
    transition: all 0.5s;
}

/* Tiles */
#Tiles {
    background-image: url("../../images/tiles_bg.jpg");
}

/* News */
.template_swiper_two_graphics > figure > figcaption > .swiper_content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#NewsSwiper > .swiper_pagination_news {
    z-index: 1;
    left: auto;
    width: fit-content;
    height: fit-content;
}

    #NewsSwiper > .swiper_pagination_news > .swiper-pagination-bullet {
        width: 1rem;
        height: 0;
    }

        #NewsSwiper > .swiper_pagination_news > .swiper-pagination-bullet::before {
            font-weight: 900;
            content: "\f043";
            font-family: 'Font Awesome 6 Free';
        }

        #NewsSwiper > .swiper_pagination_news > .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
            color: var(--blue-text);
        }

/* Most Popular */
#Most_Popular {
    background-color: var(--gray-bg-dark);
}

    #Most_Popular > .content > figure > .most_popular_tag > li {
        font-size: 0.8rem;
    }

        #Most_Popular > .content > figure > .most_popular_tag > li::before {
            content: '#';
        }

/* Inquiry*/
#Inquiry > .content {
    top: 50%;
    transform: translateY(-50%);
}

    #Inquiry > .content > .search > input {
        outline: none;
    }

    #Inquiry > .content > .tag > li > a {
        color: var(--gray-text);
    }

/* Consult */
#Consult > div > .btn_consult {
    width: fit-content;
}

/* Other Page */
#Other_Page > .container > .row > .col > figure > a > figcaption {
    bottom: 1rem;
    background-color: var(--green-main-trans);
}

#Other_Page > .container > .row > .col > figure > a > img {
    transform: scale(1);
    filter: saturate(100%);
    transition: all 0.5s;
}

#Other_Page > .container > .row > .col > figure:hover > a > img {
    transform: scale(1.25);
    filter: saturate(150%);
    transition: all 0.5s;
}

/* Reserve */
#Reserve {
    height: 300px;
}

    #Reserve > figcaption {
        background-image: url("../../images/reserve_bg.jpg");
        background-size: auto 300px;
        background-position: center;
        transition: all 0.5s;
    }

        #Reserve > figcaption > a > .content > div:first-child {
            color: #B28A56;
        }

        #Reserve > figcaption > a > .content > div:nth-child(2) {
            color: #826032;
        }

    #Reserve:hover > figcaption {
        filter: saturate(120%);
        background-size: auto 320px;
        transition: all 0.5s;
    }

/*RWD*/
@media (max-width: 1366px) {
    .template_full_swiper > figcaption > h3 {
        padding: 1rem 0.7rem;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .template_full_swiper > figcaption > h3 {
        padding: 0.7rem 0.7rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 576px) {
    .template_full_swiper > figcaption {
        bottom: 10%;
    }

        .template_full_swiper > figcaption > h3 {
            padding: 0.5rem 0.5rem;
            font-size: 1rem;
        }

    #BannerSwiper > .swiper_pagination_banner > .swiper-pagination-bullet {
        width: 2rem;
    }

    #Featured > .content > figure:first-child {
        width: 100%;
    }

    #Featured > .content > figure:nth-child(2) {
        width: 100%;
    }
}
