
/* Banner */
#BannerSwiper > .swiper > .swiper-wrapper > figure {
    margin: 0;
}

    #BannerSwiper > .swiper > .swiper-wrapper > figure > img {
        max-width: 100%;
    }

    #BannerSwiper > .swiper > .swiper-wrapper > figure > figcaption {
        background-color: var(--black-text-trans);
    }

        #BannerSwiper > .swiper > .swiper-wrapper > figure > figcaption > h3 {
            padding: 1.5rem 3.5rem;
            font-size: 2.5rem;
            text-shadow: 4px 4px 6px rgba(0,0,0,0.3);
        }

#BannerSwiper > .swiper_pagination_banner {
    z-index: 1;
    margin-bottom: -0.5rem;
}

    #BannerSwiper > .swiper_pagination_banner > .swiper-pagination-bullet {
        width: 4rem;
        height: 0.3rem;
        border-radius: 4px;
    }

        #BannerSwiper > .swiper_pagination_banner > .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: var(--red-main);
        }

#BannerSwiper > .swiper_button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
}

    #BannerSwiper > .swiper_button > [class*=btn_swiper_] {
        height: 100%;
        width: 10vw;
    }

/* Button Gonews*/
.btn_gonews > i {
    color: var(--blue);
    cursor: pointer;
}

/* Guess_Like */
.guess_like_frame {
    background-color: var(--gray-bg-light);
}

    .guess_like_frame > .topline {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height: 3rem;
    }

    .guess_like_frame > .tag {
        height: 1.75rem;
        font-size: 0.8rem;
        color: var(--gray-text);
    }

        .guess_like_frame > .tag > li {
            line-height: 1.5rem;
            white-space: nowrap;
        }

    .guess_like_frame > .bottom_line > .price {
        color: var(--red-number);
    }

    .guess_like_frame > .bottom_line > .btn_buy {
        font-size: 0.8rem;
        white-space: nowrap;
    }

/* Favorite */
#Favorite > .title {
    height: 200px;
    background-image: url(../../images/favorite_bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#Favorite > ul > li > figure > .top_icon {
    height: 1.5rem;
}

    #Favorite > ul > li > figure > .top_icon > button > i {
        color: var(--gray-icon);
    }

#Favorite > ul > li > figure > figcaption {
    width: fit-content;
}

    #Favorite > ul > li > figure > figcaption > div {
        font-size: 0.8rem;
        border-bottom: 3px solid var(--red-main);
        background-color: var(--gray-text);
        height: 2.5rem;
    }

#Favorite > ul > li > figure {
    border: 1px solid var(--gray-dark);
}

    #Favorite > ul > li > figure > .btn_add_favorite {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

        #Favorite > ul > li > figure > .btn_add_favorite > span > i:first-child {
            color: var(--gray-icon);
        }

#Favorite > ul > li > .name {
    color: var(--gray-text);
    font-size: 0.8rem;
    height: 2.5rem;
}

#Favorite > ul > .blank:nth-child(n+7) {
    display: none;
}

#Favorite > ul > .blank > figure > img {
    visibility: hidden;
}

#Favorite > ul > .blank > figure > figcaption > div {
    border: none;
    background: none;
}

/* Featured */
#Featured > .content > figure:first-child {
    width: 39%;
}

#Featured > .content > figure:nth-child(2) {
    width: 59%;
}

/* Tiles */
#Tiles {
    background-image: url("../../images/tiles_bg.jpg");
}

/* News */
#NewsSwiper > .title {
    color: var(--gray-text);
}

#NewsSwiper > .swiper > .content > .card > figure > div > div > img {
    width: 100%;
    height: auto;
    top: 50%;
    transform: translate(0, -50%);
}

#NewsSwiper > .swiper > .content > .card > figure > figcaption > .card-body > .card-title {
    color: var(--gray-text);
}

#NewsSwiper > .swiper > .content > .card > figure > figcaption > .card-body > .card-text {
    min-height: 3rem;
    color: var(--blakc-text);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#NewsSwiper > .swiper > .content > .card > figure > figcaption > .card-body > a > .card-footer {
    color: var(--blue);
}

#NewsSwiper > .swiper_pagination_news {
    z-index: 1;
    top: 0;
    right: 0;
    left: auto;
    width: fit-content;
    height: fit-content;
}

/* Most Popular */
#Most_Popular {
    background-color: var(--gray-bg-dark);
}

    #Most_Popular > div > .card-group > .card > .card-footer > li {
        font-size: 0.8rem;
    }

        #Most_Popular > div > .card-group > .card > .card-footer > li::before {
            content: '#';
        }

/* InquiryAndCconsult */
#InquiryAndCconsult {
    width: 100%;
    padding: 10px 10vw;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

    #InquiryAndCconsult > div {
        width: 49%;
        position: relative;
    }

        #InquiryAndCconsult > div > img {
            width: 100%;
        }

        #InquiryAndCconsult > div > .frame {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            width: 100%;
            height: 100%;
        }

    #InquiryAndCconsult > .inquire > .frame {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3rem;
    }

        #InquiryAndCconsult > .inquire > .frame > .title {
            font-weight: bold;
            font-size: 1.5rem;
            margin: 0 0 0.25rem 0.5rem;
        }

        #InquiryAndCconsult > .inquire > .frame > .search {
            display: flex;
            background-color: white;
            width: 60%;
            padding: 0 10px 0 15px;
            border-radius: 50px;
            cursor: default;
        }

            #InquiryAndCconsult > .inquire > .frame > .search > input {
                border: none;
                outline: none;
                background: none;
                width: 97.5%;
            }

            #InquiryAndCconsult > .inquire > .frame > .search > i {
                color: var(--gray-icon);
                display: flex;
                align-items: center;
                cursor: pointer;
                margin: 0 0.5rem;
            }

        #InquiryAndCconsult > .inquire > .frame > .tag > ul {
            display: flex;
            margin: 0.5rem 0 0 0.5rem;
        }

            #InquiryAndCconsult > .inquire > .frame > .tag > ul > li {
                text-decoration: underline;
                color: var(--gray-text);
                margin: 0.5rem 0 0 0.5rem;
            }

    #InquiryAndCconsult > .consult > .frame {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

        #InquiryAndCconsult > .consult > .frame > .title {
            font-weight: bold;
            font-size: 1.5rem;
            width: 100%;
            margin-bottom: 0.5rem;
        }

        #InquiryAndCconsult > .consult > .frame > .content {
            flex-grow: 1;
            padding-right: 45%;
        }

        #InquiryAndCconsult > .consult > .frame > .btn_consult {
            color: var(--gray-text);
            cursor: pointer;
            background-color: white;
            width: 10rem;
            padding: 0.2rem;
            border-radius: 50px;
            text-align: center;
        }

/* Other Page */
#Other_Page > figure > a > div > figcaption {
    background-color: var(--green-main-trans);
}

/* Reserve */
#Reserve {
    height: 300px;
}

    #Reserve > .frame {
        background-image: url("../../images/reserve_bg.jpg");
        background-size: auto 300px;
        background-position: center;
    }

        #Reserve > .frame > .content {
            background-image: url("../../images/reserve_bg_round.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 175px;
            width: 175px;
        }

            #Reserve > .frame > .content > div {
                display: flex;
                justify-content: center;
                align-content: space-around;
                font-size: 1.25rem;
                font-weight: bold;
            }

                #Reserve > .frame > .content > div:first-child {
                    color: #B28A56;
                }

                #Reserve > .frame > .content > div:nth-child(2) {
                    color: #826032;
                }

/*RWD*/
@media (max-width: 1366px) {
    #BannerSwiper > .swiper > .swiper-wrapper > figure > figcaption > h3 {
        padding: 1rem 0.7rem;
        font-size: 2rem;
    }

    #InquiryAndCconsult > .inquire > .frame {
        padding-left: 2rem;
    }

        #InquiryAndCconsult > .inquire > .frame > .title {
            font-size: 1.15rem;
            margin-bottom: 0.125rem;
        }

        #InquiryAndCconsult > .inquire > .frame > .search {
            width: 70%;
        }

        #InquiryAndCconsult > .inquire > .frame > .tag > ul {
            margin-top: 0.25rem;
        }

            #InquiryAndCconsult > .inquire > .frame > .tag > ul > li {
                font-size: 0.85rem;
            }

    #InquiryAndCconsult > .consult > .frame {
        padding: 1rem;
    }

        #InquiryAndCconsult > .consult > .frame > .title {
            font-size: 1.15rem;
        }

        #InquiryAndCconsult > .consult > .frame > .content {
            font-size: 0.85rem;
        }
}

@media only screen and (max-width: 1072px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768.9px) {
    #BannerSwiper > .swiper > .swiper-wrapper > figure > figcaption > h3 {
        padding: 0.7rem 0.7rem;
        font-size: 1.5rem;
    }

    #News > .NewsSwiper > .content > .frame > .text > .content {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    #InquiryAndCconsult > .consult > .frame {
        padding: 0.5rem;
    }

        #InquiryAndCconsult > .consult > .frame > .title {
            font-size: 1rem;
            margin-bottom: 0.25rem;
        }

        #InquiryAndCconsult > .consult > .frame > .content {
            font-size: 0.65rem;
        }

        #InquiryAndCconsult > .consult > .frame > .btn_consult {
            font-size: 0.85rem;
        }
}

@media only screen and (max-width: 576px) {
    #BannerSwiper > .swiper > .swiper-wrapper > figure > figcaption > h3 {
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
    }

    #BannerSwiper > .swiper_pagination_banner > .swiper-pagination-bullet {
        width: 2rem;
    }

    #Featured > .content > figure:first-child {
        width: 100%;
    }

    #Featured > .content > figure:nth-child(2) {
        width: 100%;
    }

    #News > .NewsSwiper > .content {
        height: fit-content;
    }

        #News > .NewsSwiper > .content > .frame {
            flex-direction: column;
            align-items: center;
            height: fit-content;
        }

            #News > .NewsSwiper > .content > .frame > .image {
                width: 100%;
                height: 45vw;
            }

            #News > .NewsSwiper > .content > .frame > .text {
                width: 100%;
            }

    #InquiryAndCconsult {
        flex-direction: column;
    }

        #InquiryAndCconsult > div {
            width: 100%;
        }

        #InquiryAndCconsult > .inquire {
            margin-bottom: 2%;
        }

            #InquiryAndCconsult > .inquire > .frame {
                padding-left: 1rem;
            }

                #InquiryAndCconsult > .inquire > .frame > .search {
                    width: 80%;
                }

                #InquiryAndCconsult > .inquire > .frame > .tag > ul > li {
                    color: var(--gray-text);
                }

        #InquiryAndCconsult > .consult > .frame {
            padding: 1rem;
        }

            #InquiryAndCconsult > .consult > .frame > .title {
                font-size: 1.15rem;
                margin-bottom: 0.5rem;
            }

            #InquiryAndCconsult > .consult > .frame > .content {
                font-size: 0.85rem;
            }

            #InquiryAndCconsult > .consult > .frame > .btn_consult {
                font-size: 1rem;
            }
}

@media only screen and (max-width: 390px) {
    #InquiryAndCconsult > .consult > .frame {
        padding: 0.5rem;
        padding-right: 50%;
        justify-content: center;
    }

        #InquiryAndCconsult > .consult > .frame > .content {
            display: none;
        }
}

@media only screen and (max-width: 368px) {
}
