* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.search-input-block {
    width: 400px;
    max-width: 85vw;
}

.search-category .catalog .title {
    font-size: 1rem;
}

.search-category .catalog .type1 {
    height: 80px;
    border-left: solid 6px #919191;
}

    .search-category .catalog .type1 .title {
        font-weight: 450;
        font-size: 1.08rem;
    }

    .search-category .catalog .type1 .more-btn {
        width: 24px;
        height: 24px;
    }

.search-category .catalog .type2 {
    height: auto;
}

.search-category .catalog .type3 {
    height: auto;
}

    .search-category .catalog .type3 .img-h {
        max-width: 200px;
        height: max-content;
    }

.search-category .more-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #DEDEDE;
    position: absolute;
    top: 50%;
    right: 10px;
    color: #fff;
    transform: translateY(-50%);
}

    .search-category .more-btn:hover {
        background: #919191;
    }

.search-category .pr3 {
    padding: 0.3rem 1rem 0.3rem 0.3rem;
}

.search-category .typeswitch_bg {
    background: #EFEFEF;
}

    .search-category .typeswitch_bg input {
        background: #F3F3F3;
        border: none;
    }

.search-category .card-border {
    box-shadow: 2px 3px 5px rgba(50,50,50,0.1);
    height: 100%;
}

.search-category .card-border-rd {
    border-radius: 10px;
}

.search-category .mergetag .check_btn {
    display: block;
    background: #919191;
    border-radius: 20px;
    color: #fff;
    border: none;
    font-size: 1rem;
    text-align: center;
    padding: 0.25rem;
    margin-top: 1rem;
}

.search-category .check_btn-type3 {
    width: 10%;
}

.typeswitch_bg {
    background: #EFEFEF;
}

.search-category button {
    border: none;
    background: none;
    color: #000;
}

.search-category .merge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.search-category button:focus, .search-category button.active {
    border-bottom: 2px solid #000;
}

.search-category .input-container {
    position: relative;
    display: inline-block;
}

    .search-category .input-container:after {
        content: '';
        position: absolute;
        right: 0;
        height: 100%;
        width: 3.5rem;
        border-radius: 0px 4px 4px 0px;
        background-color: #AAA;
        border: 1px solid black;
        border-left: 0px;
    }

    .search-category .input-container .search-input {
        width: 100%;
        height: 40px;
        border: 1px solid #000;
        border-radius: 4px;
        font-size: 1.2rem;
        padding-left: 30px;
        box-sizing: border-box;
    }

    .search-category .input-container.suggestions .search-input {
        border-radius: 4px 4px 0px 0px;
        border-bottom-color: #b5b5b5;
    }

    .search-category .input-container.suggestions:after {
        border-radius: 0px 4px 0px 0px;
        border-bottom-color: #b5b5b5;
    }

/*focus input取消加粗*/
.search-category .search-input:focus-visible {
    outline: initial;
    font-weight: 400;
}

.search-category .search-input::placeholder {
    font-weight: lighter;
    font-size: 1rem;
    padding: 0.5rem;
}

.search-category .searchbtn {
    position: absolute;
    right: 0.5rem;
    font-size: 0;
    z-index: 1;
}

    .search-category .searchbtn > .fa-search {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: white;
        font-size: 1.3rem;
    }

.search-category .search-frame {
    width: 80%;
    height: 40px;
}

    .search-category .search-frame .theme {
        width: 10%;
        background: #444444;
        color: #fff;
    }

    .search-category .search-frame .vice-theme {
        width: 90%;
        border: 1px solid #000;
    }

        .search-category .search-frame .vice-theme input {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }

        .search-category .search-frame .vice-theme .option {
            margin: 0px 1%;
        }

#Search_Title span:nth-child(1) {
    color: #009bd7;
    font-weight: 900;
}

#Search_Title span:nth-child(2) {
    color: #009bd7;
    font-size: 1.5em;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

#Search_Title p {
    font-size: 1.2rem;
}

.search-category .related-tag span {
    border-radius: 20px;
    padding: 3px 6px;
    background: #EFEFEF;
    color: gray;
    font-size: 10px;
}

.search-category .fs-gray {
    color: gray;
    font-size: 0.95rem;
}

.templatecontent {
    display: none;
}

.search-category .catalog.type2 .image_frame {
    height: 250px;
}

    .search-category .catalog.type2 .image_frame > .img-fluid {
        max-height: 100%;
    }

.search-category .switch_control {
    padding-right: 3rem;
}

header #Search {
    display: none !important;
}

.type_change_frame .type2-title {
    -webkit-line-clamp: 2;
    max-height: calc(1.25rem * 2.6);
    max-width: calc(100% - 2rem);
}

#filterList, #filterList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#filterList {
    margin-top: 1rem;
}

h3.title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem;
    text-align: center;
}

#filterList label {
    cursor: pointer;
    width: 100%;
}

#filterList li ul label:hover {
    background-color: #eee;
}

#filterList label > i {
    font-size: 1rem
}

.filterType > label {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #EAEAEA;
    font-weight: 600;
}

    .filterType > label:hover {
        background-color: #e0e0e0;
    }

.filterType + ul label {
    width: 100%;
    padding: 0.25rem 1rem;
}

.filterDirType > a {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    color: #000;
    text-align: center;
    font-size: 1rem;
}

    .filterDirType > a ::after before {
        color: #CCCCCC;
    }

.filterDirType:hover > a {
    background: #FFF;
    color: #000;
}

.filterDirType:hover > ul {
    position: absolute;
    display: block;
}

.filterDirType > .dropdown-menu {
    width: 100%;
    border-radius: 0;
    max-height: calc(32px * 3 + 18px);
    overflow: auto;
}

.form-check-input {
    display: none
}

    .form-check-input + label {
        user-select: none; /* standard syntax */
        -webkit-user-select: none; /* for Chrome、Safari */
        -moz-user-select: none; /* for Mozilla、Firefox */
    }

        .form-check-input + label > i {
            display: none;
            vertical-align: middle;
        }

            .form-check-input + label > i:nth-child(2) {
                display: inline-block;
            }

    .form-check-input:checked + label > i {
        display: inline-block;
    }

        .form-check-input:checked + label > i:nth-child(2) {
            display: none;
        }

.search-category .catalog .type3 .img-h {
    max-width: 200px;
    height: max-content;
}

.search-category .more-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #DEDEDE;
    position: absolute;
    top: 50%;
    right: 10px;
    color: #fff;
    transform: translateY(-50%);
}

    .search-category .more-btn:hover {
        background: #919191;
    }

.search-category .pr3 {
    padding: 0.3rem 1rem 0.3rem 0.3rem;
}

.search-category .typeswitch_bg {
    background: #EFEFEF;
}

    .search-category .typeswitch_bg input {
        background: #F3F3F3;
        border: none;
    }

.search-category .px-large {
    padding: 0 7rem;
}

.search-category .card-border {
    box-shadow: 2px 3px 5px rgba(50,50,50,0.1);
    height: 100%;
}

.search-category .card-border-rd {
    border-radius: 10px;
}

.search-category .check_btn {
    background: #919191;
    border-radius: 20px;
    color: #fff;
    height: 25px;
    border: none;
    font-size: 0.875rem;
}

.search-category .check_btn-type3 {
    width: 10%;
}


.search-category button {
    border: none;
    background: none;
}

.search-category .merge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.search-category button:focus {
    border-bottom: 2px solid #000;
}

.search-category .input-container {
    position: relative;
    display: inline-block;
}

.search-category .w30 {
    width: 30%;
    height: 40px;
    position: absolute;
}

.search-category .search-frame {
    width: 80%;
    height: 40px;
}

    .search-category .search-frame .theme {
        width: 10%;
        background: #444444;
        color: #fff;
    }

    .search-category .search-frame .vice-theme {
        width: 90%;
        border: 1px solid #000;
    }

        .search-category .search-frame .vice-theme input {
            width: 15px;
            height: 15px;
            margin-right: 5px;
        }

        .search-category .search-frame .vice-theme .option {
            margin: 0px 1%;
        }

#Search_Title span:nth-child(1) {
    color: #009bd7;
    font-weight: 900;
}

#Search_Title span:nth-child(2) {
    color: #009bd7;
    font-size: 1.5em;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

#Search_Title p {
    font-size: 1.2rem;
}

.search-category .related-tag span {
    border-radius: 20px;
    padding: 3px 6px;
    background: #EFEFEF;
    color: gray;
    font-size: 0.625rem;
}

.search-category .fs-gray {
    color: gray;
    font-size: 0.95rem;
}

.search-suggestions {
    position: absolute;
    top: 100%;
    max-height: 14.5rem;
    width: 100%;
    overflow: auto;
    background: #FFF;
    list-style: none;
    z-index: 1;
    border: 1px solid #000; /* 加上邊框來區分建議清單 */
    border-top: 0;
    border-radius: 0px 0px 4px 4px; /* 邊框圓角 */
    padding: 0.5rem 0;
}

    .search-suggestions li {
        display: flex;
        flex-direction: column;
        gap: 5px; /* 新增間距 */
        font-size: 1rem; /* 上層字體大小 */
    }

        .search-suggestions li strong {
            padding: 0 0.5rem;
            font-weight: bold;
            font-size: 0.9rem;
            padding-top: 8px;
        }

        .search-suggestions li a {
            text-decoration: none; /* 去除鏈接下劃線 */
            display: block; /* 使 <a> 填滿整個 li */
            padding: 4px 0px; /*縮小縮排*/
            cursor: pointer;
            border-radius: 4px; /* 加上圓角 */
            color: #333; /* 默認文字顏色 */
        }

            .search-suggestions li a:hover,
            .search-suggestions li a:focus {
                background-color: #ddd; /* 高亮顯示的背景色 */
                color: #333; /* 可選的文字顏色 */
            }

            .search-suggestions li a.highlighted {
                background-color: #007bff; /* 高亮顏色 */
                color: #fff; /* 高亮文字顏色 */
            }

        /* 將刪除按鈕與 key 顯示在同一行 */
        .search-suggestions li.local-record {
            padding-right: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }

            .search-suggestions li.local-record a {
                padding-left: 0.5rem;
                flex-grow: 1; /* 使 key 占據剩餘空間 */
            }

        .search-suggestions li button.delete-local {
            background: none;
            border: none;
            color: #aaa;
            cursor: pointer;
            font-size: 0.9rem;
            padding: 0;
            text-align: left;
        }

            .search-suggestions li button.delete-local span {
                font-size: 1.25rem; /*刪除按鈕縮小*/
            }

        /* 隱藏刪除按鈕在伺服器紀錄 */
        .search-suggestions li .remote-record {
            display: none;
        }

        /* 當顯示本機紀錄時，顯示刪除按鈕 */
        .search-suggestions li.local-record button.delete-local {
            display: flex; /*顯示並置中*/
        }

        /* 內層 ul 的樣式 */
        .search-suggestions li ul {
            padding-left: 0px; /* 去掉縮排 */
            font-size: 0.9rem; /* 內層字體大小稍微變小 */
            color: #555; /* 內層文字顏色稍微變淡 */
        }

            .search-suggestions li ul li {
                padding: 0px;
            }

                .search-suggestions li ul li a {
                    padding-left: 0.5rem;
                    color: #555; /* 內層項目的文字顏色 */
                }

                    .search-suggestions li ul li a:hover {
                        background-color: #f1f1f1; /* 內層項目高亮顏色 */
                    }

                    /* 高亮的內層項目 */
                    .search-suggestions li ul li a.highlighted {
                        background-color: #007bff; /* 高亮顏色 */
                        color: #fff; /* 高亮文字顏色 */
                    }

    .search-suggestions .clearAll {
        padding: 0 0.5rem;
    }

    .search-suggestions .clear-local {
        font-size: 0.8rem;
        color: #aaa;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
    }

        .search-suggestions .clear-local:focus {
            border-bottom: none;
        }

@media(max-width:768px) {
    #filterBlock {
        position: fixed;
        z-index: 1;
        background-color: #eee;
        width: 100%;
        left: -100%;
        transition: left ease-in-out 0.5s;
    }

        #filterBlock.active {
            left: 0%;
            top: 0;
            z-index: 1030;
            height: 100vh;
            overflow: auto;
        }

        #filterBlock .fa-close {
            font-size: 2rem;
        }
}

@media (max-width:576px) {
    .search-category .catalog.type2 .image_frame {
        height: 150px;
    }

    .search-category .switch_control {
        padding-right: 0;
    }

    .search-category .container {
        padding: 0;
    }

    .catalog_frame .template {
        padding: 0.5rem 0.5rem 0 0.5rem !important;
    }

        .catalog_frame .template:last-child {
            padding-bottom: 0.5rem !important;
        }

    .type_change_frame .type1-title {
        height: calc(1rem * 3.6);
    }

    .catalog_frame button {
        width: 100%;
    }
}
