.anchor_directory > ul > li > a:hover > div {
    background-color: #AAA;
    color: white;
}
.selectList {
    text-align:center;
    margin:0.5rem 0;
}
    .selectList > select {
        position: relative;
        width: 95%;
        padding: 0.5rem;
        text-align: center;
        margin: auto;
        background-color: #FFF;
        color: #000;
    }

    .selectList select, .selectList option {
        -webkit-appearance: none;
    }

@media(max-width:576px) {
    .selectList {
        position: relative;
        display: inline-block;
    }

        .selectList:after {
            content: '\0025BC';
            font: normal normal normal 12px / 1 FontAwesome;
            color: #000;
            right: 22px;
            top: calc(50% - 7px);
            position: absolute;
            pointer-events: none;
            font-size: 1rem;
        }
}