img{
    max-width:100%;
}

iframe {
    width: 100%;
}

.text-start ul {
    list-style: none;
}

.masonry > .grid > .grid-item {
    float: left;
    width: calc(100%/3);
    height: auto;
}

.bottom_3-2 {
    top: calc(100%/3*2);
    transform: translateY(-50%);
}

/* Container */
.container.retracted {
    padding-left: 10rem;
    padding-right: 10rem;
}

.two_three_block > .two {
    width: 40%;
}

.two_three_block > .three {
    width: 60%;
}

/* Text */
.textlabel {
    padding: 1rem 0 1rem 2rem;
}

.text_two_line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.text_shadow {
    text-shadow: 2px 2px 4px #242424;
}

.custom_h3 {
    font-size: 1.5rem;
}

.custom_h4 {
    font-size: 1.3rem;
}

.custom_h5 {
    font-size: 1.1rem;
}
.custom_scale {
    font-size:1.1rem;
}
/* Image */
.img_maxh150 {
    max-height: 150px;
    width: auto;
}





@media only screen and (max-width: 992px) {
    .container.retracted {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .masonry > .grid > .grid-item {
        width: calc(100%/2);
    }
    .custom_scale {
        font-size: 1rem;
    }
    .outpage_link a {
        height: 36px;
        padding: 3px;
    }

    .type_change_frame > .catalog .max-hei {
        flex-direction: column;
        justify-content: center;
    }

    .type_change_frame > .catalog .type3 {
        height: 300px;
    }
    
}

@media only screen and (max-width: 576px) {
    .masonry > .grid > .grid-item {
        width: 100%;
    }

    .two_three_block > .two {
        width: 100%;
    }

    .two_three_block > .three {
        width: 100%;
    }
}
