.logoimg {
    max-height: 3rem;
}

body:not(.home) #main > .container {
    padding: unset !important;
    padding-top:10px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-left:10px !important;
    padding-right:10px !important;
}

header .menu {
    background: linear-gradient(90deg, #0BB0DD 0%, #0069A3 70%, #006AA1 100%);
}
.menu .navbar-nav > .nav-item > .nav-link {
    font-size:1.05rem;
}

#headermenu li a {
    color: white;
}

.titleimage {
    padding-top: 2.5rem;
    width: 18rem;
    max-width: 60vw;
}

.headernews {
    width: 46rem;
    max-width: 90vw;
}

    .headernews .content {
        top: calc(50% - 0.9rem);
        padding-left: 5.75rem;
        padding-right: 2rem;
    }

        .headernews .content .title {
            color: #09D1F2;
            line-height: 1.2rem;
            width: 2.4rem;
            font-size: 1.2rem;
        }

        .headernews .content .text {
            height: 1.5rem;
            white-space: nowrap;
        }

.marqueeSwiper {
    height: 1.5rem;
}

    .marqueeSwiper .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: left;
        align-items: center;
    }

        .marqueeSwiper .swiper-slide .text {
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #fff;
            text-decoration: none;
        }

        .headernews .content .title, .marqueeSwiper .swiper-slide div.text {
            cursor: default;
        }
@media only screen and (max-width: 929px) {
    .menu .navbar-collapse {
        position: absolute;
        width: calc(100% + 1rem);
        top: 3.5rem;
        z-index: 2;
        background-color: rgb(9, 162, 210);
        left: -0.5rem;
    }
    .menu .navbar-nav > .nav-item > .nav-link {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0.5rem 0;
        text-align: center;
        background-color: #004f8a;
        margin: 0.2rem 0;
    }
}

@media only screen and (max-width: 767px) {
    .headernews {
        width: 20rem;
        max-width: 90vw;
    }

        .headernews .content {
            top: calc(50% - 0.8rem);
            padding-left: 5.5rem;
            padding-right: 0.75rem;
        }
            .headernews .content .title {
                display:none;
            }
}
