
/* Header Top*/
#Header_Top {
    background-color: var(--black-top-line);
    color: #f5f5f5;
    font-size: 14px;
    padding: 5px 20px;
    justify-content: space-between;
    cursor: default;
}

    #Header_Top > div > p, #Header_Top > div > i {
        display: flex;
        align-items: center;
        margin: auto;
        padding: 0 5px;
        cursor: pointer;
    }

    #Header_Top > div > i {
        display: flex;
        align-items: center;
        margin: auto;
        padding: 0 5px;
        cursor: pointer;
    }

.news_text {
    color: var(--red-main);
    width: fit-content;
}

.news_box {
    list-style: none;
    height: 1.5rem;
    overflow: hidden;
}

    .news_box > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .news_box > ul > li {
            height: 1.5rem;
        }

            .news_box > ul > li > a {
                color: white;
                overflow: hidden;
            }

.searchblock {
    cursor: default;
}

    .searchblock > input {
        outline: none;
        width: 125px;
    }

/* Button Car Dropdown */
#btn_car_dropdown > i.open {
    color: var(--red-popup);
}

#btn_car_dropdown > .badge {
    border: 0.15rem black solid;
    background-color: var(--red-popup);
    top: 0;
    left: 2rem;
    transform: scale(0.75);
    z-index: 1;
    height: 1.8rem;
    min-width: 1.8rem;
    line-height: 1rem;
}

/* Cart Dropdown*/
#Car_Dropdown {
    z-index: 1070;
    width: 280px;
    max-width: 100vw;
    max-height: 90vh;
}

    #Car_Dropdown > ul > li > figure > a > .pro_image {
        max-width: 80px;
    }

    #Car_Dropdown > ul > li > figure > a > figcaption > .pro_name {
        color: var(--black-text);
        height: 3rem;
    }

    #Car_Dropdown > ul > li > figure > a > figcaption > .number {
        color: var(--red-number);
    }

        #Car_Dropdown > ul > li > figure > a > figcaption > .number > .pro_quantity::before {
            content: '×';
        }

    #Car_Dropdown > ul > li > figure > .btn_cart_delete {
        top: 50%;
        right: -1.5rem;
        transform: translate(0, -50%);
        color: var(--gray-icon);
    }

        #Car_Dropdown > ul > li > figure > .btn_cart_delete:hover {
            color: var(--red-main);
        }

    #Car_Dropdown > .btn_car_buy {
        background-color: var(--black-text);
    }

        #Car_Dropdown > .btn_car_buy[disabled] {
            background-color: var(--gray-bg-dark);
        }

/* menu_button */
.menu-button {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 9px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: rgba(155, 155, 155, 0.3);
    z-index: 1045;
    border-radius: 0;
}

    .menu-button .bar:nth-of-type(1) {
        margin-top: 0px;
    }

    .menu-button .bar:nth-of-type(3) {
        margin-bottom: 0px;
    }

.bar {
    position: relative;
    display: block;
    width: 35px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.menu-button:not(.collapsed) .bar:nth-of-type(1) {
    -webkit-transform: translateY(9px) rotate(-45deg);
    -ms-transform: translateY(9px) rotate(-45deg);
    transform: translateY(9px) rotate(-45deg);
}

.menu-button:not(.collapsed) .bar:nth-of-type(2) {
    opacity: 0;
}

.menu-button:not(.collapsed) .bar:nth-of-type(3) {
    -webkit-transform: translateY(-9px) rotate(45deg);
    -ms-transform: translateY(-9px) rotate(45deg);
    transform: translateY(-9px) rotate(45deg);
}

/* Mega Menu */
#Mega_Menu {
    position: relative;
    background-color: var(--red-main);
    padding: 0 5%;
}

.mega_menu_logo {
    width: 30%;
    margin: 10px 0;
}

    .mega_menu_logo img {
        width: 110px;
        max-width: 100%;
    }

.mega_menu_title {
    width: 65%;
    margin-top: 20px;
}

    .mega_menu_title > ul {
        height: 100%;
        width: 100%;
        margin: 0;
    }

        .mega_menu_title > ul > li {
            height: 100%;
            width: calc(100%/5);
        }

    .mega_menu_title .nav-link {
        color: white;
    }

        .mega_menu_title .nav-link::after {
            display: none;
        }

.mega_menu_subtitle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    cursor: pointer;
}

/* Mega Menu Content */
.mega_menu_content {
    cursor: default;
    visibility: hidden;
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    background-color: #e0e0e0;
    color: black;
    padding: 2% 10% 5% 10%;
}

    .mega_menu_content .nav-link {
        color: #000;
    }

    .mega_menu_content > .text {
        width: 59%;
        margin-right: 1%;
        z-index: 2;
    }

        .mega_menu_content > .text > .item {
            width: 100%;
        }

        .mega_menu_content > .text > ul {
            display: flex;
            justify-content: center;
        }

            .mega_menu_content > .text > ul > li {
                margin: 0 5%;
            }

#Mega_Menu .mega_menu_content > .text > ul > li > a {
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0;
}

.mega_menu_content > .image {
    width: 39%;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    display: block;
}

    .mega_menu_content > .image > a > img {
        display: block;
        margin: auto;
        height: 150px;
        box-shadow: 0px 0px 20px gray;
        padding: 5px;
    }

    .mega_menu_content > .image > a > div {
        margin-top: 20px;
    }

    .mega_menu_content > .image p {
        display: initial;
        cursor: pointer;
    }

/* Mega Menu Hover*/
.mega_menu_title > ul > li:hover {
    background-color: #e0e0e0;
}

    .mega_menu_title > ul > li:hover > a {
        color: var(--red-main);
        font-weight: bold;
    }

    .mega_menu_title > ul > li:hover .mega_menu_content {
        visibility: visible;
    }

/*RWD*/
@media (min-width: 992px) {
    #Mega_Menu .mega_menu_title,
    .mega_menu_title .dropdown {
        position: initial;
    }
}

@media (max-width: 1366px) {
}

@media only screen and (max-width: 1072px) {
    .mega_menu_content > .text {
        width: 69%;
        margin-right: 1%;
    }

    .mega_menu_content > .image {
        width: 29%;
    }
}

@media only screen and (max-width: 992px) {
    #Header_Top {
        padding: 13px 20px;
        justify-content: flex-end;
        background-color: var(--red-main);
    }

    .news_box {
        display: none;
    }

    .mega_menu_logo {
        position: absolute;
        width: 90px;
        top: -35px;
        left: 38%;
        margin: 0;
    }

    .mega_menu_title {
        margin: 0;
        width: calc(100% - 4rem);
    }

        .mega_menu_title .nav-link {
            color: #000;
        }

        .mega_menu_title > ul > li {
            width: unset;
            height: unset;
        }

            .mega_menu_title > ul > li .mega_menu_content {
                visibility: visible;
                position: relative;
                top: 0;
                display: flex;
                justify-content: space-around;
                padding: 0;
            }

    .mega_menu_content .abreast {
        justify-content: space-evenly;
        text-align: initial;
    }

    .mega_menu_content > .text,
    .mega_menu_content > .image {
        width: 100%;
        text-align: center;
    }

        .mega_menu_content > .text li.nav-item {
            margin: 1rem 0.5rem;
        }

    .smart-search {
        border: #ccc solid 1px;
    }

        .smart-search > input {
            width: calc(100% - 5rem);
        }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 368px) {
}
