.navbar-expand-lg {
    background: rgba(100,128,108,.9) !important;
    flex-direction: column;
}
#Search {
    top: 50%;
    right: -200px;
    transform: translateY(-50%);
}
    #Search a {
        color: #64806c;
    }
    #Search a:hover {
        color: #333333;
    }
#SearchInput {
    border: solid 1px rgba(100,128,108,.9);
    border-radius: 20px;
    width: 200px;
    height: 32px;
}
.input-pd {
    padding:0 1rem 0 2rem;
}
.icon {
    color: rgba(100,128,108,.9);
    top: 39%;
    left: 3%;
    transform: translateY(-30%);
    font-size:22px;
}
#Mega_Menu {
    padding: 0;
}
#Mega_Menu .w50{
    height:80px;
}
#Offcanvas_Mega_Menu {
    background: rgba(100,128,108,.9);
}
#Offcanvas_Mega_Menu > * {
    color: #ffffff;
   
}
#Offcanvas_Mega_Menu > ul > .title:hover > .text-black {
    background: rgba(100,128,108,.9);
}

    #Offcanvas_Mega_Menu > ul > .title > .content {
        background-color: rgba(100,128,108,.9);
        padding: 1rem 0;
    }
    #Offcanvas_Mega_Menu > ul > .title > .content li {
        padding: 10px 20px;
    }
#Offcanvas_Mega_Menu > ul > .title:hover > .text-black :hover {
    background: #4e6354;
    margin-left: 0;
}

#Offcanvas_Mega_Menu > ul > .title > .content li:hover {
    background: #4e6354;
    margin-left: 0;
}
.logo-img {
    width: 100% !important;
    height: 70px !important;
}

.fa-earth-americas {
    font-size: 20px;
    color: rgba(100,128,108,.9);
}
.switch-button {
    width: 60px;
}
.offcanvas-body {
    width:60%;
}
.collapse_menus > ul > li:hover::before  {
    content: "➤";
    display: inline-block;
}


.icon-search-bg {
    background: rgba(100,128,108,1) ;
    border-radius:50%;
    width:30px;
    height:30px;
    color:#fff;

}
#Mega_Menu  .btn_menu {
    margin-top: 0.25rem;
    transition: 0.3s;
    z-index: 1046;
}

    #Mega_Menu .btn_menu{
        border:none;
    }

    #Mega_Menu .btn_menu .bar {
        position: relative;
        display: block;
        width: 1.75rem;
        height: 0.2rem;
        margin: 0.35rem auto;
        background-color: #333;
        border-radius: 10px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

#Mega_Menu  .offcanvas.show + .btn_menu .bar:nth-of-type(1) {
    background-color: black;
    -webkit-transform: translateY(9px) rotate(-45deg);
    -ms-transform: translateY(9px) rotate(-45deg);
    transform: translateY(9px) rotate(-45deg);
}

#Mega_Menu  .offcanvas.show + .btn_menu  .bar:nth-of-type(2) {
    opacity: 0;
}

#Mega_Menu .offcanvas.show + .btn_menu .bar:nth-of-type(3) {
    background-color: black;
    -webkit-transform: translateY(-9px) rotate(45deg);
    -ms-transform: translateY(-9px) rotate(45deg);
    transform: translateY(-9px) rotate(45deg);
}

@media (max-width: 1000px) {
    #Mega_Menu .w50 {
        display: none !important;
    }

    #Offcanvas_Mega_Menu > ul > .title > .content li {
        margin-left: 1rem;
    }

    #Offcanvas_Mega_Menu > ul > .title {
        border-bottom: solid 1px #fff;
    }

    .offcanvas-body {
        width: 80%;
    }
    #Offcanvas_Mega_Menu > ul > .title > .content {
        background:none;
    }
}
    @media (max-width: 440px) {
        .subtitle > .subtitle_title {
            font-weight: 400;
        }
        #Offcanvas_Mega_Menu > ul > .title > .content li {
            margin-left: 1rem;
            padding: 0;
            margin: 0;
        }
        .font{
            font-size:24px;
        }

        .logo img {
            width: 80%;
        }
    }