
.font_small {
    font-size: 0.8rem;
}

.logo {
    max-width: 80%;
    width: 100%;
    height: auto;
}

.modal-body {
    min-height: 60vh;
}

.btn_expand {
    padding: 0 4px;
    background-color: var(--blue-dark);
    color: white;
}

.img_ul {
    position: absolute;
    right: 0;
    top: 87px;
}

    .img_ul > li {
        min-width: 90px;
    }

.input_sear {
    min-width: 120px;
}
.img_ul a > img + h2 {
    display: none
}

@media only screen and (max-width: 992px) {
    .img_ul {
        position: relative;
        background: #0d7f87;
        width: 100%;
        position: relative;
        top: unset;
        text-align: center;
    }
        .img_ul > li:not(:first-child) {
            transition: 0.35s ease;
            overflow: hidden;
            display:block;
            padding:0.3rem;
            width:100%;
        }
        .img_ul a > img {
            display: none
        }
            .img_ul a > img + h2 {
                display: block;
                color: #fff;
                font-size: 1rem;
            }
}
