.logoimg {
    max-height: 3rem;
}

header .menu {
    background: linear-gradient(90deg, #0BB0DD 0%, #0069A3 70%, #006AA1 100%);
}

#headermenu li a {
    color: white;
}

.titleimage {
    padding-top: 2.5rem;
    width: 15rem;
    max-width: 60vw;
}

.headernews {
    width: 40rem;
    max-width: 90vw;
}

    .headernews .content {
        top: calc(50% - 1.3rem);
        padding-left: 5.75rem;
        padding-right: 2rem;
    }

        .headernews .content .title {
            color: #09D1F2;
        }

        .headernews .content .text {
            height: 1.5rem;
            white-space: nowrap;
        }

.marqueeSwiper {
    height: 1.5rem;
}

    .marqueeSwiper .swiper-slide {
        text-align: center;
        display: flex;
        justify-content: left;
        align-items: center;
    }

        .marqueeSwiper .swiper-slide .text {
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .headernews .content .title, .marqueeSwiper .swiper-slide div.text {
            cursor: default;
        }

@media only screen and (max-width: 766px) {
    .headernews {
        width: 20rem;
        max-width: 90vw;
    }

        .headernews .content {
            top: calc(50% - 1.5rem);
            padding-left: 4.5rem;
            padding-right: 0.75rem;
        }
}
